{% extends 'base.html.twig' %}

{% block title %}BONJOUR ING3-B!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

   
<table >
<tr>
<td>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header" > <h2>1- telecharger template bootstrap,Parmi le site le plus connu<a href="https://www.free-css.com/template-categories/ecommerce">FREE CSS </a></p></h2> </div>

</div>
</td>
<td>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header" > <h2>2-copier les dossiers (css +js +fonts +images )vers le dossiers public de votre projet </h2> </div>
 
</div>
</td>
<td>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header" > <h2>3-ouvrir la page INDEX de templete avec sublime + copier les links que se termine avec .css  </h2> </div>
 
</div>
</td>
<td>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header" > <h2>4-coller dans votre base.html.twig dans le block " block stylesheets " et ajouter ""asset ""</div>
 
</div>
</td>
</tr>
</table>


<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h1 class="alert-heading"></h1>
  <h1 class="mb-0"> <center> <a href="#" class="alert-link">A QUOI SERT ASSET </a></center>.</h1>
</div>

<table >
<tr>
<td>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header" > <h2>5-copier les links que se termine avec "js" <br>6- coller dans votre base.html.twig dans block javascripts  </a></p></h2> </div>

</div>
</td>

<td>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header" > <h2>  en ajoutant :  <br>"asset" 7-finalement tester en ajoutant des blocks dans votre page d'accueil </a></p></h2> </div>

</div>
</td>
<td >---------------------------------->
<center> <input type="button" class="btn btn-danger" onclick="window.location.href = 'http://localhost:8001/sesame/page2';" value="TESTER "/></center>
</td>

</tr>
</table>

 


{% endblock %}
